<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jdev.module_welcome">

    <application>

        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.act.MainPageActivity" />
    </application>
</manifest>
