<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jdev.module_video">

    <application
        android:networkSecurityConfig="@xml/jz_network_security_config">

        <activity
            android:name="com.jdev.module_video.ui.act.GithubJiaoziVideoAct"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
    </application>
</manifest>
